body{
	font-family: sans-serif;
	background-image: url(/home/kofes/Pictures/Обои/Wallpaper_2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-width: 415px;
	margin: 0px;
}

header h1{
	font-family: Lobster, sans-serif;
	font-size: 500%;
	text-align: center;
	color: black;
	background-color: #eee891;
	padding: 10px;
	margin: 1px;
	border: 2px solid black;
}

.Double_image_block{
	display: inline-block;
	align-self: center;
}

.Text_content_block p{
	font-family: 'Poiret One', fantasy;
	font-size: 13pt;
	text-align: left;
	text-indent: 20px;
	background-color: white;
	padding-top: 15px;
	padding-bottom: 17px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
}

.Chapter_header_block h1{
	text-align: center;
	font-family: 'Comfortaa', sans-serif;
	color: white;
	font-size: 300%;
	padding-top: 55px;
	padding-bottom: 60px;
	text-shadow: 0px 0px 4px #000000;
	margin: inherit;
	background-color: #eee891;
	background-size: cover;
	border: 2px solid #bba358;
}

.Media_audio_block{
	width: 100%;
}

.Media_audio_block audio{
	width: 100%;
}
.Moving_header {
  width: 100%;
  position: fixed;
  z-index: 101;
}
