#insert_menu{
	width:			300px;
	float:			left;
	padding:			10px;
}

#insert_articles{
	width:			300px;
	float:			left;
	padding:			10px;
	border-left:	1px solid #074776;
	margin-bottom:	20px;
}

h2{
	border-bottom:	20px solid #D3D3D3;
}

#wrap{
	width:			950px;
	margin:			0px auto 0px auto;
	border:			1px solid #074776;
	padding:			10px;
}

#footer{
	clear:			both;
	text-align:		center;
	border-top:		20px solid #D3D3D3;
}

#menu{
	width:			200px;
	float:			left;
}

#content{
	float:			left;
	width:			700px;
	border-left:	2px solid #D3D3D3;
	padding:			10px;
}

#header{
	height:			150px;
	width:			100%;
	border-bottom:	20px solid #D3D3D3;
}

h1{
	text-align:		center;
}
